/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/app/customer/faq/faq.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.faq-container {
  padding: 50px 20px;
  max-width: 900px;
  margin: 40px auto;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
}

.faq-container h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: var(--text-primary);
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-primary);
  padding-bottom: 20px;
  transition: background-color 0.3s;
  border-radius: 8px;
  padding: 20px;
}

.faq-item:hover {
    background-color: var(--bg-tertiary);
}

.faq-item:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}

.faq-item h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--text-primary);
}

.faq-item p {
  font-size: 1.1rem;
  color: var(--text-secondary);
  line-height: 1.6;
}


