/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/app/customer/attention-alert/attention-alert.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.trend-alert-button {
	--gradient-1: #229ed9;
	--gradient-2: #2aabee;
	--gradient-3: #39b7f6;
	--gradient-4: #1f9dd6;
	--glow-color: rgba(34, 158, 217, 0.55);
	--hover-glow-color: rgba(34, 158, 217, 0.68);
	--focus-outline: rgba(34, 158, 217, 0.6);
}

